.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.m-auto {
  margin: auto;
}

.mx {
  margin-left: 20px;
  margin-right: 20px;
}

.my {
  margin-top: 40px;
  margin-bottom: 40px;
}
